html {
    height: 100%;
    min-height: 100%;
    max-width: 460px;
    margin: auto;
}

html::after {
    content: "";
    background-image: url(../images/reading\ room.jpeg);
    background-size: cover;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

body {
    display: inline-block;
    margin-top: 10px;
    align-content: center;
    
}

input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ccf5ff;
}

input[type=submit] {
    width: 60%;
    padding: 8px 20px;
    margin: 8px;
    border-radius: 4px;
    outline:none;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #ccf5ff;
}
