html {
    height: 100%;
    min-height: 100%;
}

html::after {
    content: "";
    background-image: url(../images/reading\ room.jpeg);
    background-size: cover;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

body {
    margin-left: 13%;
    margin-right: 13%;
}


h1 {
    font: 4em cursive;
    text-align: center;
}

.form {
    margin-left: 13%;
}

input {
    width: 60%;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

input:focus {
    background-color: #ccf5ff;
}

input[type=submit] {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}