<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository</title>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>
<body>

<h1>Welcome, <%= @user.username %></h1>

<h2>Collected Authors</h2>

<ul>
    <% Author.all.each do |author| %>
        <li>
            <p><a href=<%="/authors/#{author.id}" %>><%= author.name %></a></p>
        </li>
    <% end %>
</ul>


<p>
</p>

</body>
</html>