<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository</title>
    <link rel="stylesheet" href="/stylesheets/new_user.css" type="text/css">
</head>
<body>
    <h1>Create Your Repository Card</h1>
    <div class="form">
        <form action="/signup" method="POST">
            Create Username<br><input type="text" name="username" placeholder="Username" required><br>
            Create Password<br><input type="password" name="password" placeholder="Password" required><br>
            Enter Email<br><input type="email" name="email" placeholder="Email" required><br>
            <input type="submit" value="Start Collecting!">
        </form>
    </div>
</body>
<footer>
    <br>
    <br>
    <p>All rights reserved Book Repository | powered by: ditrapani productions 2020</p>
</footer>
</html>