<h2>Welcome, <%= @user.username %>!
<br>



<h3>You can view your collection by <a href="/authors">Author</a>, <a href="/books">Book</a>, or <a href="/genres">Genre</a>.</h3>

<a href="/logout">Logout</a>
<br>
<br>

Under construction repository page