<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository</title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
</head>
<body>
    <div id="intro">
        <h1>Welcome to the Book Depository!</h1>
        <p>The site where you can store all the books you have read, create wish-lists of books you want to read, and share all (or nothing) with your friends.</p>
    </div>
    <h3>Please excuse the mess while we are under construction!</h3>
    <p><a href='/signup'>Create New User!</a></p>
    <p><a href='/login'>Log In!</a></p>
    
</body>
</html>