<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository</title>
</head>
<body>
    Welcome to the under construction Book Depository Home Page!
</body>
</html>