<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository</title>
</head>
<body>

    <h1>Welcome to the Book Depository!</h1>
    <h3>Please excuse the mess while we are under construction!</h3>
    <p><a href='/signup'>Create New User!</a></p>
    <p><a href='/login'>Log In!</a></p>
    
</body>
</html>